#global-header {
    height: 100px;
    @include display-flex();
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
    padding-top: 39px;
    .logo {
        display: inline-block;
        width: 121px;
        float: left;
    }
    nav {
        font-family: 'Roboto-Medium', sans-serif;
        display: inline-block;
        float: left;
        color: #86939e;
        padding-left: 52px;
        padding-top: 2px;
        li {
            display: inline-block;
            float: left;
            h2 {
                font-size: 18px;
            }
            a {
                padding-right: 40px;
            }
        }
    }
} //global-header
.main-content {
    @include top-spacer();
    .header-title {
        color: #5e6977;
        font-family: 'Roboto-Light', sans-serif;
        h2 {
            font-size: 47px;
            margin-bottom: 25px;
            line-height:56px;
            color: #43484d;
        }
        &.large {
            text-align: center;
            p {
                font-size:22px;
            }
        }
        &.small {
            h2 {
                font-size: 32px;
            }
        }
        a {
            font-family: 'Roboto-Medium', sans-serif;
            display: inline-block;
        }
    }
    .banner-image {
        margin-top: 75px;
        .services-list {
            float: left;
            width: 100%;
            padding-top: 66px;
            padding-bottom: 137px;
            color: #86939e;
            line-height:15px;
            padding-left:15px;
            p {
                line-height: 26px;
            }
            li {
                display: inline-block;
                float: left;
                margin-left: 82px;
                padding-right:97px;
                &:last-child {
                    padding-right:0;
                    margin-left:70px;
                }
                h2 {
                    font-size: 18px;
                    color: #43484d;
                    margin-bottom: 9px;
                }
                span[class*='icon_'] {
                    margin-left: -82px;
                    float: left;
                }
                span.icon_data {
                    background-image: url(../images/services.png);
                    background-position: 0px 0px;
                    display: inline-block;
                    width: 56px;
                    height: 45px;
                }
                span.icon_text {
                    background-image: url(../images/services.png);
                    background-position: -61px 0px;
                    display: inline-block;
                    width: 47px;
                    height: 48px;
                    margin-left: -79px;
                    margin-top: -2px;
                }
                span.icon_prototype {
                    background-image: url(../images/services.png);
                    background-position: 0px -50px;
                    display: inline-block;
                    width: 52px;
                    height: 48px;
                }
            }
        } //services-list
    } //banner-image
    .slides {
        @include float-left();
        .center-content {
            position: relative;
        }
        height:500px;
        button.slick-next.slick-arrow,
        button.slick-prev.slick-arrow {
            background: none;
            border: 0;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 15px;
            height: 28px;
            overflow: hidden;
            z-index: 50;
            cursor: pointer;
            outline: none;
            background: transparent;
            color: transparent;
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 15px;
                height: 28px;
                background: url(../images/arrows.png) no-repeat;
                background-size: contain;
            }
        }
        button.slick-next.slick-arrow {
            right: 120px;
        }
        button.slick-prev.slick-arrow {
            left: 120px;
            -webkit-transform: scale(-1);
            -moz-transform: scale(-1);
            transform: scale(-1);
        }
        ul.slick-dots {
            position: absolute;
            width: 356px;
            top: 0;
            right: 0;
            margin-top: -114px;
            li {
                display: inline-block;
                float: left;
                margin-right: 10px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                overflow: hidden;
                background-color: #e7e9ec;
                &:last-child {
                    margin-right: 0;
                }
                button {
                    display: block;
                    height: 100%;
                    background: none;
                    border: 0;
                    cursor: pointer;
                    -webkit-animation: all 0.35s ease-in-out;
                    -moz-animation: all 0.35s ease-in-out;
                    animation: all 0.35s ease-in-out;
                }
                &.slick-active {
                    -webkit-transform: scale(1.5);
                    -moz-transform: scale(1.5);
                    transform: scale(1.5);
                    background-color: #358ed7;
                }
            }
        }
        img {
            height: 500px;
            -o-object-fit: cover;
            object-fit: cover
        }
        .header-title {
            position: absolute;
            width: 359px;
            top: 0;
            right: 0;
            margin-top: -340px;
            a {
                color: #358ed7;
                margin-top: 20px;
            }
        }
    } //slides
    .price-listing {
        @include float-left();
        background-color: #f9f9f9;
        .header-title {
        position: relative;
        top: 112px;
        }
    } //price-listing
    .price-listing-grid {
        float: left;
        width: 100%;
        position: relative;
        -webkit-transform: translateY(130px);
        -moz-transform: translateY(130px);
        transform: translateY(130px);
        .price-listing-item {
            color: #86939e;
            padding: 30px;
            background: #fff;
            width: 23.75rem; // 380px
            float: left;
            text-align: center;
            .large-text {
                font-size: 14px;
                border-bottom: 1px solid #e1e8ee;
                padding-top: 28px;
                padding-bottom: 30px;
                .intro {
                    line-height: 23px;
                }
                small {
                    display: block;
                    margin-top: 6px;
                    margin-bottom: 23px;
                }
                .item-cost {
                    font-size: 52px;
                    color: #43484d;
                    font-family: 'Roboto-Light', sans-serif;
                }
            }
            a {
                border: 1px solid #e1e8ee;
                border-radius: 3px;
                float: left;
                display: block;
                width: 100%;
                line-height: 42px;
                text-align: center;
                color: #358ed7;
                margin-top: 31px;
                text-transform: capitalize;
            }
            .small-text {
                border-bottom: 1px solid #e1e8ee;
                padding-bottom: 22px;
            }
            ul {
                float: left;
                width: 100%;
                padding-top: 31px;
                li {
                    text-align: left;
                    font-size: 14px;
                    display: block;
                    width: 100%;
                    float: left;
                    line-height: 20px;
                    margin-bottom: 29px;
                    padding-left: 31px;
                    position: relative;
                    color: #bfc7ce;
                    &.check {
                        color: #5e6977;
                        &:before {
                            content: '';
                            display: inline-block;
                            width: 16px;
                            height: 11px;
                            background: url(../images/icon-check.png) no-repeat;
                            background-size: contain;
                            position: absolute;
                            bottom: 4px;
                            left: 0;
                        }
                    }
                }
            }
            h3 {
                color: #358ed7;
                font-size: 14px;
                font-family: 'Roboto-Medium', sans-serif;
                text-transform: uppercase;
            }
            &:nth-child(1) {
                border: 1px solid #f4f4f4;
                
            }
            &:nth-child(2) {
                
            }
            &:nth-child(3) {
                background-color: #39add1;

                .item-cost {
                    color: #fff;
                }
                h3 {
                    color: rgba(255, 255, 255, 0.7);
                }
                small {
                    color: rgba(255, 255, 255, 0.7);
                }
                .intro {
                    color: rgba(255, 255, 255, 0.6);
                }
                li.check {
                    color: #fff;
                }
                a {
                    background-color: #7dc855;
                    color: #fff;
                    border: 0;
                }
            }
        }
    } //price-listing-grid
    .clients {
        @include float-left();
        padding-top:250px;
        position:relative;
        z-index:-1;
        background-color: #5e6977;
        padding-bottom: 109px;
        .header-title {
            color: #fff;
            h2 {
                color: #fff;
            }
            p {
                color: rgba(255, 255, 255, 0.8);
            }
            a {
                background-color: #7dc855;
                border-radius: 3px;
                padding: 21px 41px;
                margin-top: 44px;
            }
        }
        .sponsors {
            text-align: center;
            color: #fff;
            padding-top: 71px;
            p {
                color: rgba(255, 255, 255, 0.6);
            }
            ul {
                @include display-flex();
                justify-content: center;
                margin-top: 31px;
                li {
                    padding-right: 50px;
                    &:last-child {
                        padding-right: 0;
                    }
                    img {
                        -webkit-filter: grayscale(100%);
                        filter: grayscale(100%);
                        opacity: 0.2;
                        -webkit-transition: all .35s ease-in-out;
                        -moz-transition: all .35s ease-in-out;
                        transition: all .35s ease-in-out;
                        cursor: pointer;
                        &:hover {
                            opacity: 1;
                            -webkit-filter: inherit;
                            filter: inherit;
                        }
                    }
                }
            }
        } //sponsors
    } //clients
    footer {
        @include float-left();
        background-color: #545e6b;
        color: rgba(255, 255, 255, 0.6);
        padding-top: 52px;
        padding-bottom:79px;
        img {
            width:inherit;
        }
        .footer-links {
            display: inline-block;
            width: 140px;
            float: left;
            ul {
                margin-top: 24px;
                li {
                    display: block;
                    width: 100%;
                    padding-bottom: 19px;
                }
            }
        }
        .lang-switch img {
            display: inline-block;
            float: left;
            margin-right:10px;
        }
        ul {
            .footer-desc {
                padding-left: 78px;
                width: 460px;
                p {
                    line-height: 24px;
                }
            }
            li {
                display: inline-block;
                float: left;
                figure {
                    display: inline-block;
                    float: left;
                    margin-left: -78px;
                    img {
                        width: 78px;
                        margin-right:22px;
                    }
                }
                h2 {
                    font-size: 18px;
                    font-family: 'Roboto-Medium', sans-serif;
                    color: #fff;
                }
            }
        }
    } //footer
} //main-content
